{% extends "header.html" %}
{% block body %}
<body>
	<br>
	<div class="row">
		<br>
		<div class="col-sm-1 col-md-2"></div>
		<div class="col-sm-6 col-md-8">
	        <h2>Jiawen Yan</h2>
	        <br>
	        <p>Master Student at Tsinghua University and Columbia University</p>
	        <p><b>Concentration: </b>Business Analytics</p>
	        <p><b>Address: </b>605B of Student Apartment No.6 at Tsinghua Univerisity, Beijing Campus</p>
	        <p><b>Email: </b><a mailto="yjw9100@hotmail.com">yjw9100@hotmail.com</a>
	    	<br>
	        <h3>About Me</h3> 
	        <br>
	        <h3>Education</h3>
	        <br>
	        <h3>Revevant Courses</h3> 
	        <br>
	        <h3>Research and Projects</h3> 
	        <br>
	        <h3></h3> 
	    </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

{% endblock %}


	  